.cern-splash-wrapper
  %section.home-splash.flex-container.full-width
    .hero-container.flex-container.flex-column.full-width.justify-center
      %a.hero-title.hero-cta{ href: "/customers/cern/" }
        %h1
          Cern uses GitLab to connect researchers from across the globe
      %p.hero-description
        CERN is the European Organization for Nuclear Research. Using highly sophisticated instruments, the organization’s physicists and engineers study the fundamental particles that are the building blocks of the universe.
      %a.btn.cta-btn.accent.hero-cta{href: "/pricing/"}
        Try GitLab for Free
      %a.hero-cta{ href: "/customers/cern/", target: "_blank" }
        %p Read the case study →
    .hero-image-container
      %a.hero-image-link.hero-cta{ href: "/customers/cern/", target: "_blank" }
        %img.hero-image{ src: "/images/organizations/logo_cern_white.svg" }
